<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @realtor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @realtor.last_name %>
</p>

<p>
  <strong>Company:</strong>
  <% if @company != nil %>
    <%= @company.name %>
  <% end %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @realtor.phone_number %>
</p>

<%= link_to 'Back', @previous_url %> <br>
<%= link_to 'Edit', edit_realtor_path(@realtor) %> <br>
<%= link_to 'List new House', new_house_path %><br>
<%= link_to 'View houses listed by you', rel_houses_path %><br>
<%= link_to 'View all listed houses', houses_path %><br>
<%= link_to 'view list of potential buyers', potential_path %><br>
<%= link_to 'Logout', logout_path %>