<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @househunter.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @househunter.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @househunter.phone %>
</p>

<p>
  <strong>Contact method:</strong>
  <%= @househunter.contact_method %>
</p>


<%= link_to 'Show Houses', houses_path(@user) %>

<%= link_to 'Edit', edit_househunter_path(@househunter) %> |
<%= link_to 'Back', househunters_path %>


