<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email_id %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Is admin:</strong>
  <%= @user.is_admin %>
</p>

<p>
  <strong>Is realtor:</strong>
  <%= @user.is_realtor %>
</p>

<p>
  <strong>Is househunter:</strong>
  <%= @user.is_househunter %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', @previous_url %>
<%= link_to 'search', input_path %>
<%= link_to 'Logout', logout_path %>
